.passit-filters {
  margin-bottom: 10px; }

.passit-filter__dropdown-menu {
  width: 100%; }
  .passit-filter__dropdown-menu .dropdown-inner {
    padding: 0 20px; }
  .passit-filter__dropdown-menu .select2-selection {
    height: 90px;
    overflow-y: scroll; }

.site-list-item-header img {
  margin-right: 7px;
  width: 32px;
  height: 32px; }
.site-list-item-header h3 {
  line-height: 32px;
  margin: 0; }
.site-list-item-header .passit-header-button:nth-of-type(2) {
  margin-left: 7px; }

.passit-manage {
  margin-top: 10px; }

.nav-tabs li.active {
  position: relative; }
  .nav-tabs li.active:after {
    content: "";
    width: calc(100% - 4px);
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: -1px;
    left: 1px; }

.tab-pane {
  border: 1px solid #DDD;
  border-top: 0;
  padding: 20px;
  margin-bottom: 20px; }

#create.tab-pane {
  padding: 20px 0; }
  #create.tab-pane .tab-pane {
    border: 0;
    padding: 0 20px; }

.passit-search-panel {
  padding: 20px 0 5px; }

.passit-browse-panel {
  padding-bottom: 10px; }
