<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-tabs row" role="tablist">
            <li role="presentation" class="active"><a href="#search" aria-controls="search" role="tab" data-toggle="tab">Search</a></li>
            <li role="presentation" class="pull-right"><a href="#create" aria-controls="create" role="tab" data-toggle="tab">Create</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane passit-search-panel fade in active row" id="search">
                <div id="search-form" class="col-xs-12">
                    <form [ngFormModel]="searchGroup">
                        <div class="form-group">
                            <label for="search-box" class="sr-only">Search Groups</label>
                            <input ngControl="search" type="text" class="form-control input-lg" id="search-box" placeholder="Type to search all groups">
                        </div>
                    </form>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane passit-create-panel fade row" id="create">
                <div id="search-form" class="col-xs-12">
                    <form [ngFormModel]="createGroup">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="passit-manage-__name">Group Name</label>
                                <input ngControl="name" type="text" class="form-control" id="passit-manage-__name" placeholder="Group Name" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="passit-manage-__slug">Slug</label>
                                <input ngControl="slug" type="text" class="form-control" id="passit-manage-__slug" placeholder="Login URL" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label>Member(s)</label><br />
                            <div class="passit-manage-groups" id="passit-manage-groups-" style="width: 100%;">
                                <input ngControl="members" type="text" class="form-control" id="passit-manage-__members" placeholder="Members Seprated By Comma" />
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <br />
                            <button (click)="createNewGroup()" type="submit" class="btn btn-info pull-right">Create Group</button>
                            <a (click)="clearNewGroup()" class="btn btn-link pull-right"><span class="text-danger">Cancel</span></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
