<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Passit</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li *ngIf="stat.email" ><a [routerLink]="['/Home/Secret']">Secrets</a></li>
                <li *ngIf="stat.email" ><a [routerLink]="['/Home/Group']">Groups</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!stat.email"><a [routerLink]="['/Signup']">Sign Up</a></li>
                <li *ngIf="!stat.email"><a [routerLink]="['/Login']">Login</a></li>
                <li *ngIf="stat.email" class="dropdown">
                    <a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ stat.email }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" (click)="logout()">Logout</a>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
<message></message>
