<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-tabs row" role="tablist">
            <li role="presentation" class="active"><a href="#search" aria-controls="search" role="tab" data-toggle="tab">Search</a></li>
            <li role="presentation"><a href="#browse" aria-controls="browse" role="tab" data-toggle="tab">Browse</a></li>
            <li role="presentation" class="pull-right"><a href="#create" aria-controls="create" role="tab" data-toggle="tab">Create</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane passit-search-panel fade in active row" id="search">
                <div id="search-form" class="col-xs-12">
                    <form>
                        <div class="form-group">
                            <label for="search-box" class="sr-only">Search Secrets</label>
                            <input type="text" class="form-control input-lg" id="search-box" placeholder="Type to search all secrets">
                        </div>
                    </form>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane passit-browse-panel fade row" id="browse">

            </div>
            <div role="tabpanel" class="tab-pane passit-create-panel fade row" id="create">
                <div id="search-form" class="col-xs-12">
                    <ul class="nav nav-pills">
                        <li role="presentation" class="active"><a href="#create-password" aria-controls="create-password" role="tab" data-toggle="tab">Password</a></li>
                        <li role="presentation"><a href="#create-secure-note" aria-controls="create-secure-note" role="tab" data-toggle="tab">Secure Note</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane passit-create-password-panel fade in active row" id="create-password">
                            <h3>New Password</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="passit-manage-__name">Site Name</label>
                                        <input type="text" class="form-control" id="passit-manage-__name" placeholder="Site Name" />
                                    </div>
                                    <div class="form-group">
                                        <label for="passit-manage-__url">URL</label>
                                        <input type="url" class="form-control" id="passit-manage-__url" placeholder="Login URL" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="passit-manage-__username">Username</label>
                                        <input type="email" class="form-control" id="passit-manage-__username" placeholder="Username" />
                                    </div>
                                    <div class="form-group">
                                        <label for="passit-manage-__password">Password</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" id="passit-manage-__password" placeholder="Password" />
                                            <span class="input-group-btn">
                                                <a href="javascript:void(0);" class="btn btn-default" type="button">
                                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                                    <span class="sr-only">View Password</span>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div>
            </div>
        </div>
    </div>
</div>
