<h1 class="text-center">Sign Up</h1>
<form [ngFormModel]="formGroup">
    <div class="form-group">
        <input type="email" class="form-control" ngControl="email" placeholder="{{ placeholder.email }}" />
    </div>
    <div class="form-group">
        <input type="password" class="form-control" ngControl="password" placeholder="{{ placeholder.password }}" />
    </div>
    <div class="form-group text-center">
        <button class="btn btn-default" (click)="signup()">Sign Up</button>
    </div>
</form>
